<form ngNativeValidate #reservationForm="ngForm" *ngIf = "counter < Guests">
  <li>
    <label>First Name:<input type="text" minlength="2" name="FirstName" ngModel required></label>
    <br/>
    <label>Last Name:<input type="text" minlength="2" name="LastName" ngModel required></label>
    <br/>
    <label>Email:<input type = "text" minlength="2" name="Email" ngModel required/></label>
    <br>
    <label>Phone:<input type = "text" minlength="9" name="Phone" ngModel required/></label>
  </li>
  <button type="submit" value="Add Guest" (click)="submit(reservationForm.value); reservationForm.reset()">Add Guest</button>
</form>



<div *ngIf = "counter >= Guests && !reserved">
  <h1>Make a Reservation</h1>
  <button (click)="reserve()">Reserve!</button>
</div>

<div *ngIf = "reserved">
  <strong><span>Thank you for reserving at {{ chosenRental.name }} with your party of {{Guests}}!</span></strong>
</div>
