<p>Make a Reservation</p>
<!--Guest model add to guest list, and then on submit adds it to our guest list
Whenever new guest, add guest to guest list

ngif - is guest list at capacity, and if at capacity, show forum, else hide the form-->

<form ngNativeValidate #reservationForm="ngForm">
  <li *ngIf = "counter < Guests">
    <label>First Name:<input type="text" minlength="2" name="FirstName" ngModel required></label>
    <br/>
    <label>Last Name:<input type="text" minlength="2" name="LastName" ngModel required></label>
    <br/>
    <label>Email:<input type = "text" minlength="2" name="Email" ngModel required/></label>
    <br>
    <label>Phone:<input type = "text" minlength="9" name="Phone" ngModel required/></label>
  </li>
  <button type="submit" value="Add Guest" (click)="submit(reservationForm.value); reservationForm.reset()">Add Guest</button>
</form>
<button (click)="reserve()">Reserve!</button>