<section class="container">
  <main>
    <div>
      <!-- <div id="search-component">
        <h1>Welcome to Booking</h1>
        <h4><label for="search-box">Choose your City</label></h4>
        <input #searchBox id="search-box" (input)="search(searchBox.value)" />
        <ul class="search-result">
          <select>
            <option *ngFor="let city of cities" value = "{{city}}">{{city}}</option>
          </select>          
        </ul>
        <h4><label for="search-box">Choose your State</label></h4>
        <input #searchBox id="search-box" (input)="search(searchBox.value)" />
        <ul class="search-result">
          <li *ngFor="let state of states">
            <span>{{state}}</span>
          </li>
        </ul>
      </div> -->
      <form ngNativeValidate #searchForm = "ngForm" (ngSubmit)="submit(searchForm.value)">
        <label>State
          <select class="dropdown" name="State" ngModel>
            <option *ngFor="let state of states" value = "{{state}}">{{state}}</option>
          </select>
        </label>
        <label>City
          <select class="dropdown" name="City" ngModel>
            <option *ngFor="let city of cities" value = "{{city}}">{{city}}</option>
          </select>
        </label>        
        <label>CheckIn Date:<input type="date" name="CheckIn" ngModel required></label>
        <br/>
        <label>CheckOut Date:<input type="date" name="CheckOut" ngModel required></label>
        <br/>
        <label>Number of Guests:<input type = "number" min ="1" name="Guests" ngModel required/></label>
        <input type = "submit" value ="Submit">
      </form>
      <div *ngIf = "Guests > 0">
        <app-booking-filter [CheckIn]="CheckIn" [CheckOut]="CheckOut" [Guests]="Guests" [State]="State" [City]="City"></app-booking-filter>
      </div>
    </div>
  </main>
</section>


