<section class="container">
  <header>
    <h1>Welcome to Booking</h1>
  </header><br><br>
  <main>
    <div>
      <div id="search-component">
        <h4><label for="search-box">Choose your City</label></h4>
        <input #searchBox id="search-box" (input)="search(searchBox.value)" />
        <ul class="search-result">
          <li *ngFor="let city of cities" >
            <!-- <a routerLink="/filter/{{city}}">
              {{city}}
            </a> -->
            <span>{{city}}</span>
          </li>
        </ul>
        <h4><label for="search-box">Choose your State</label></h4>
        <input #searchBox id="search-box" (input)="search(searchBox.value)" />
        <ul class="search-result">
          <li *ngFor="let state of states">
            <span>{{state}}</span>
          </li>
        </ul>
      </div>

      <form #searchForm = "ngForm" (ngSubmit)="submit(searchForm.value)">
        <label>CheckIn Date:<input type="date" name="CheckIn" ngModel></label>
        <br/>
        <label>CheckOut Date:<input type="date" name="CheckOut" ngModel></label>
        <br/>
        <label>Number of Guests:<input type = "number" min ="1" name="Guests" ngModel/></label>
        <input type = "submit" value ="submit">
      </form>
      <div *ngIf = "Guests > 0">
        <app-booking-filter [CheckIn]="CheckIn" [CheckOut]="CheckOut" [Guests]="Guests"></app-booking-filter>
      </div>
    </div>
  </main>
</section>


