
<div *ngIf = "!test">
  <li>{{ CheckIn }}</li>
  <li>{{ CheckOut }}</li>
  <li>{{ Guests }}</li>
  <li>{{ State }}</li>
  <li>{{ City }}</li>

  <form #filterForm = "ngForm" (ngSubmit)="submit(filterForm.value)">
    <ul class="search-result" *ngIf="filteredLodgings">
      <li *ngFor = "let filteredRent of filteredLodgings">
        <span>{{filteredLodgings}}</span>
        <span>{{ filteredRent.name }}</span>
        <input type = string name="Rental" value={{filteredRent}} ngModel/>
        <input id = {{filteredRent.id}} type = "submit" value ="submit">
      </li>
    </ul>
  </form>

</div>
<div *ngIf = "!test">
  <input type="submit" value="Confirm" (click)="setTrue()">
</div>
<div *ngIf = "test">
  <app-reservation-page [CheckIn]="CheckIn" [CheckOut]="CheckOut" [Guests]="Guests" [chosenRental]="chosenRental"></app-reservation-page>
</div>
