
<div *ngIf = "!test">
  <li>{{ CheckIn }}</li>
  <li>{{ CheckOut }}</li>
  <li>{{ Guests }}</li>
  <li>{{ State }}</li>
  <li>{{ City }}</li>

  <br><br>

  <form #filterForm = "ngForm">
    <ul class="search-result" *ngIf="filteredLodgings">
      <table>
        <tr>
          <li *ngFor = "let filteredRent of filteredLodgings">
            <div class = "choose">
              <span>Rental Name:</span><Label>{{filteredRent.name}}</Label><br>

              <label>Unit: <p>{{filteredRent.rentalUnit.occupancy}}</p></label>

              <label for="">Rooms: <p>{{filteredRent.rentalUnit.bedrooms}}</p> </label>
              <button  (click)="submit(filteredRent); filterForm.reset()" >Select</button>
            </div>
         </li>
        </tr>
      </table>
    </ul>
  </form>
</div>

<div *ngIf = "!test">
  <input type="submit" value="Confirm" (click)="setTrue()">
</div>
<div *ngIf = "test">
  <app-reservation-page [CheckIn]="CheckIn" [CheckOut]="CheckOut" [Guests]="Guests" [chosenRental]="chosenRental"></app-reservation-page>
</div>
